.bg-img{
    width: 100%;
    height: 720px;
    background-image: url('../../img/foot/foot.jpg')
}
.text-d:hover{
    text-decoration: none;
}
.font-col{
    color: #999;
}
.font-s{font-size: 14px;}

.w-h{
    width:492px;
    height:569px;
    background-color: #f5f5f5;
}
.foot-1{
    font-size: 16px;
    font-weight: bold;
    color:#d5000b;
}
.img-w{
    width:187px;height:187px;
}
.border-bottom-c{
    border-bottom:1px solid #000000 ;
}
.border-p{
    border:1px solid #000000;
}
.border-p:hover{
    border:1px solid #f00000;
}
.foot-b{
    color: #b0b0b0 !important;
}
.border-p>a:hover,.foot-a:hover{
    color:#f00000 !important;
    text-decoration: none ;
}
