.width-w{width: 1349px;}
@media screen and (min-width: 992px){
    .my_header{height:7rem;width: 100%;}
    .my_footer{height:50rem;width: 100%;}
}
@media screen  and (max-width: 991px){
    .my_header{height:12rem;width: 100%;}
    .my_footer{height:50rem;width: 100%;}
}
.font-s{font-size: 14px;}
.f-width{width:400px !important;}