.wdith-w{width: 1334px;}
@media screen and (min-width: 992px){
    .my_header{height:7rem;width: 100%;}
    .my_footer{height:50rem;width: 100%;}
}
@media screen  and (max-width: 991px){
    .my_header{height:12rem;width: 100%;}
    .my_footer{height:50rem;width: 100%;}
}
.carousel-indicators li{
    width: 1rem;height:1rem;
    background: #fff;
    border-radius: 50%;
    margin-right: 1rem;
}
.carousel-indicators li:hover{background: #ff0000;}
.carousel-indicators .active {
    background-color: #f00;
}
.font-col{
    color: #999;
}
.font-s{font-size: 14px;}
.font-s-s{font-size: 12px;}
.foot-b{
    color: #b0b0b0 !important;
}
.index_word{
    left: 0;
    top: 0;
    width: 170px;
    height: 100%;
    background-image: url(../../img/body/px.png);
    padding:20px;
}
.row>div>a>span:hover{
    width: 100%;
    height: 100%;
    background-image: url(../../img/body/px.png);
}
.text-d{
    text-decoration: none !important;
}
.floor-bg{
    width: 1349px;
    height: 720px;
    background-image: url('../../img/body/choose.jpg')
}
.img-w{width:33px !important;
      height:33px  !important;
}
.img-hover{
    transition: transform 1s;
}
.img-hover:hover{
    transform: scale(1.1);
}

.floor3-bg{
    width: 175px;
    height: 52px;
    line-height: 52px;
    background-image: url('../../img/body/amore.png')}
.floor4-bg{
    width: 1349px;
    height: 576px;
    background-image: url('../../img/body/case.jpg')
}
.floor4-h{
    height:405px !important;
}
.floor4_index_word{
    left: 0;
    top: 0;
    width: 660.3px !important;
    height:100%;
    opacity: 0;
    background-image: url(../../img/body/px.png);
    transition: all .5s linear;
}
.f-size{
    text-decoration: none !important;
    align-items: center;
}

.floor4_index_word:hover{opacity: 1;}
.floor4_font{
    font-size: 40px;
    color: #333;
    font-family: 'Conv_TrajanPro-Regular',Sans-Serif;
    font-style: italic;
    text-align: center;
}
.line{line-height:40px;}
.floor4_index_word:first-child{
    margin-top: 150px;
}
.floor5_hover:hover{
    border:1px solid #f00 ;
}
.floor6-bg{
    width: 1349px;
    height: 797px;
    background-image: url('../../img/body/news.jpg')
}
.news_circle{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #FFF;
    left: -6px;
    bottom: -5px;
}
.news_date{
    border-bottom:1px solid #fff3cd;
}
.news-d{border-left:1px solid #fff3cd ;}
.news-h{height:109px;}
.myvideo{
   width:50%
}
.ntb-img{
    margin-left:-33px;
}