.span_p{
    border-left: 1px solid #ff0000;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px ;
    color: #333333;
}
.wdith-w{width:1334px;}
.navbar-nav .nav-link:hover{
    color: #f00000 !important;
}
.margin-t{margin-top:31px; }
.drop{
    width:80px;
    list-style:none; margin:0; padding:0;
    height:0px;
    border-radius:0 0 5px 5px;
    text-align: center;
    overflow:hidden;
    transition:all .5s linear;
	display:block !important;
    z-index:500;
    position:absolute;
    background:#fff;
}
.drop a{
    text-decoration:none; 
    color:#000;
    display:inline-block;
    font-size:14px;
}
.drop a:hover{
    color: #f00000 !important;
}
